<div class="container mt-4">
    <h1>Vehículos de todos los usuarios</h1>

    <div *ngIf="!vehicles || vehicles.length === 0">
        <p>No hay vehículos registrados en la aplicacion.</p>
    </div>
 

    <table *ngIf="vehicles && vehicles.length > 0" class="table table-hover table-responsive">
        <thead class="thead-dark">
            <tr>
                <th>Matrícula</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Capacidad</th>
                <th>Tipo de Enchufe</th>
                <th style="text-align: center;">Eliminar</th> <!-- Agregamos una nueva columna para las acciones -->
                <th style="text-align: center;">Puntos Compatibles</th> <!-- Agregamos una nueva columna para las acciones -->
            </tr>
        </thead>
        <style>
            .badge-text {
              color: black; 
            }
            .popup {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            }

            .popup-content {
            background: white;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            }
            .table-button {
        margin-top: 5px; /* Ajusta este valor según sea necesario */
        vertical-align: top; /* Alineación vertical */
    }
          </style>
        <tbody>
            <tr *ngFor="let vehicle of vehicles">
                
                <td>{{ vehicle.carRegistration }}</td>
                <td>{{ vehicle.brand }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.capacity }}</td>
                <td>{{ vehicle.plugType }}</td>
                <td class="text-center">
                    <button class="btn btn-danger table-button" (click)="openConfirmationPopup(vehicle.id!)" title="Borrar Vehiculo">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
                <td class="text-center">
                    <button class="btn btn-warning table-button" (click)="navigateToValidCharger(vehicle.id!)" title="Ver puntos validos">
                        <i class="fa fa-plug" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Pop-up de Confirmación -->
<div class="popup" *ngIf="isConfirmationPopupOpen">
    <div class="popup-content">
      <h5>Confirmación</h5>
      <p>¿Seguro que quieres eliminar el vehiculo?</p>
      <button class="btn btn-secondary" (click)="closeConfirmationPopup()">No</button>
      <button class="btn btn-danger" (click)="confirmDeleteVehicle()">Sí</button>
    </div>
  </div>
